@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  background: url("./../../public/bg6.jpg");
  height: 100vh;
  flex-direction: column;
  display: flex;
}

.header {
  display: flex;
  color: white;
  background: rgba(10, 35, 31, 0.4);
  font-size: 50px;
  padding: 0;
  border-bottom: 1.5px solid white;
  justify-content: center;
  backdrop-filter: blur(3px);
  font-family: "Caveat", cursive;
}

/*
// rgba(10, 136, 90, 0.35);
// rgba(10, 30, 31, 0.35);
*/

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
