.App {
  text-align: center;
  background: url("./../../public/bg6.jpg");
  height: 100vh;
  flex-direction: column;
  display: flex;
}

.header {
  display: flex;
  color: white;
  background: rgba(10, 126, 31, 0.15);
  font-size: 28px;
  border-bottom: 2px solid white;
  justify-content: center;
  backdrop-filter: blur(2px);
}

main {
  display: flex;
  justify-content: space-around; /* This will place the child divs at the start and end with space between */
  /* Additional styles for alignment and layout */
  align-items: center; /* Optional: aligns items vertically in the center */
  flex-grow: 1;
}
