@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300&family=Caveat:wght@700&family=Lato:wght@300&family=Open+Sans:wght@300&family=Raleway:wght@200;300&display=swap");

.containerSearch {
  width: 300px;
  backdrop-filter: blur(15px);
  background: rgba(10, 30, 31, 0.35);
  padding: 2px 2px;
  border: 1px solid white;
  padding: 20px;
  border-radius: 20px;
}

.searchBar {
  width: 100%;
  background: rgba(0, 0, 0, 0);
  border: 0;
  font-size: 2rem;
  color: gray;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
  font-family: "Catamaran", sans-serif;
}

.searchBar:focus {
  outline: none;
  color: white;
}
